@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Demi.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-HeavyIt.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-HeavyIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Heavy.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-BoldIt.woff2") format("woff2"),
  url("../assets/my-font/AvenirNextLTPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-DemiIt.woff2") format("woff2"),
  url("../assets/my-font/AvenirNextLTPro-DemiIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Bold.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

 @font-face {
   font-family: "AvenirNext LT Pro";
   src: url("../assets/my-font/AvenirNextLTPro-LightIt.woff2")
       format("woff2"),
     url("../assets/my-font/AvenirNextLTPro-LightIt.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
 }

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Light.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-It.woff2") format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

 @font-face {
   font-family: "AvenirNext LT Pro";
   src: url("../assets/my-font/AvenirNextLTPro-MediumIt.woff2")
       format("woff2"),
     url("../assets/my-font/AvenirNextLTPro-MediumIt.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
 }

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Regular.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Thin.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/my-font/AvenirNextLTPro-Medium.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

 @font-face {
   font-family: "AvenirNext LT Pro";
   src: url("../assets/my-font/AvenirNextLTPro-ThinIt.woff2")
       format("woff2"),
     url("../assets/my-font/AvenirNextLTPro-ThinIt.woff") format("woff");
   font-weight: 100;
   font-style: italic;
   font-display: swap;
 }

 @font-face {
   font-family: "AvenirNext LT Pro UltLight";
   src: url("../assets/my-font/AvenirNextLTPro-UltLtIt.woff2")
       format("woff2"),
     url("../assets/my-font/AvenirNextLTPro-UltLtIt.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
 }

@font-face {
  font-family: "AvenirNext LT Pro UltLight";
  src: url("../assets/my-font/AvenirNextLTPro-UltLt.woff2")
      format("woff2"),
    url("../assets/my-font/AvenirNextLTPro-UltLt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
