@import "./partials/font";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/general";

.container {
  margin-right: 1rem;
  margin-left: 1rem;
  @include tablet {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  @include desk {
    margin-right: 11.25rem;
    margin-left: 11.25rem;
  }
}

// *****************navbar*******************

.logo {
  padding-top: 0.4rem;
  text-align: center;
  @include tablet {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
  @include desk {
    margin-right: 1.5rem;
  }
}

.page-head {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    height: 5rem;
  }
}

.active {
  @include hover-nav;
  text-decoration: none;
  border-bottom: 0.3rem solid $white;
  color: $white;
  width: 50%;
  text-align: center;
}

.nav {
  @include tablet {
    display: flex;
    padding-right: 2rem;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    display: flex;
    padding-top: 0.5rem;
    @include tablet {
      padding-top: 1.9rem;
    }
  }

  &__item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
    @include tablet {
      width: unset;
      padding-bottom: 1.5rem;
    }
    @include desk {
      width: 5rem;
    }
  }

  &__link {
    font-size: 0.86rem;
    margin: 0 auto;
  }
}

.inactive {
  @include hover-nav;
  text-align: center;
  @include tablet {
    margin-left: 5rem;
  }
  @include desk {
    margin-left: 3.5rem;
  }
}

// ******************banner******************

.banner {
  background-image: url(../assets/Images/anthony-delanoix-hzgs56Ze49s-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 183px;
  display: flex;
  justify-content: left;
  align-items: center;
  @include tablet {
    height: 25rem;
  }
  @include desk {
    height: 41.875rem;
  }

  &__text {
    text-shadow: 0.1rem 0.1rem $black;
    color: $white;
    @include tablet {
      font-size: 3.75rem;
    }
  }
}

// *****************main*******************

.secondcontainer {
  @include desk {
    margin: 0 auto;
    width: 56rem;
  }
}

.about {
  &__img {
    display: flex;
    min-width: 18rem;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
    @include tablet {
      width: 45rem;
      height: 22.625rem;
      object-fit: cover;
    }
    @include desk {
      width: 56rem;
      height: 28.125rem;
      display: flex;
      justify-content: center;
    }
  }

  &__header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    @include tablet {
      font-size: 2.25rem;
      margin-top: 3rem;
    }
    @include desk {
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin: 0;
    }
  }
}

.about {
  &__top {
    margin-top: -6px;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.4rem;
    @include tablet {
      margin-top: 0;
      padding-top: 2rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    @include desk {
      padding-top: 3rem;
      padding-bottom: 2.5rem;
      margin-bottom: 0;
    }
  }

  &__mid {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    @include tablet {
      font-size: 1rem;
    }
    @include desk {
      margin-bottom: 0;
      padding-bottom: 3.5rem;
    }
  }

  &__bottom {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    @include tablet {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    @include desk {
      padding-bottom: 2rem;
    }
  }
}

.about {
  &__content {
    font-size: 0.81rem;
    line-height: 1.12rem;
    @include tablet {
      font-size: 0.87rem;
      line-height: 1.37rem;
      display: flex;
      padding-bottom: 0.7rem;
      margin-top: 0.5rem;
    }
    @include desk {
      margin-top: 0;
      padding-bottom: 3rem;
    }
  }

  &__first {
    margin-bottom: 1.5rem;
    @include desk {
      margin: 0;
      width: 420px;
      margin-right: 1.25rem;
    }
  }

  &__second {
    margin-bottom: 2.5rem;
    @include tablet {
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
    @include desk {
      margin: 0;
      width: 420px;
      margin-left: 1.25rem;
    }
  }
}

// ****************gallery*********************

.gallery {
  background-color: $lightgray;

  &__header {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    @include tablet {
      margin: 0;
      font-size: 2.25rem;
      padding-top: 3rem;
      padding-bottom: 2.5rem;
    }
  }

  &__imgs {
    padding-bottom: 1.3rem;
    line-height: 0;
    @include tablet {
      max-width: 880px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desk {
      padding-top: 1.5rem;
      max-width: 1080px; //344px*3+24px*2
      padding-bottom: 1rem;
    }
  }

  &__img {
    // ****no hover event on mob*****
    padding-bottom: 1rem;
    width: 100%;
    @include tablet {
      width: 14rem;
      padding-bottom: 1.5rem;
      filter: grayscale(100%);
      @include colorful;
    }
    @include desk {
      width: 21.5rem;
      height: auto;
      filter: grayscale(100%);
      @include colorful;
    }
  }
}

// *****************comments******************
.form__container {
  display: inline-block;
}

.conversation__header {
  padding-top: 1rem;
  @include tablet {
    margin-left: 0;
    font-size: 2.25rem;
  }
}

.conversation {
  max-width: 33rem;
  margin: 0 auto;

  @include desk {
    max-width: 55%;
    margin: 0 auto;
  }
  &__img {
    margin-top: 2rem;
    min-width: fit-content;
  }

  &__photo {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.05rem $silver;
  }

  &__content {
    min-width: 75%;
    width: 78%;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    @include tablet {
      min-width: 85%;
    }
  }

  &__labelTablet {
    @include label;
    display: none;
    @include tablet {
      display: unset;
      margin-bottom: -2rem;
    }
  }

  &__labelMob {
    @include label;
    @include tablet {
      visibility: hidden;
    }
  }

  &__nameLabel {
    margin-top: 0.5rem;
    @include label;
  }

  &__button {
    margin-left: 0;
    max-width: 14.43rem;
    width: 100%;
    background-color: $black;
    color: $white;
    font-size: 0.87rem;
    font-weight: 500;
    padding: 1rem;
    border-style: none;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 0;
    align-self: flex-end;
    &:focus {
      outline: none;
    }

    @include tablet {
      max-width: 11rem;
      margin-left: 60%;
    }
  }
}

.conversation {
  &__name {
    padding: 1rem;
    color: $black;
    background-color: $Alabaster;
    border-radius: 0.25rem;
    border-color: $Mercury;

    &:focus {
      outline-color: $black;
    }
  }

  &__date {
    color: $silver;
  }

  &__comment {
    padding: 1rem 1rem 3rem 1rem;

    color: $black;
    background-color: $Alabaster;
    border-radius: 0.25rem;
    border-color: $Mercury;
    font-size: 0.75rem;
    font-weight: 500;

    &:focus {
      outline-color: $black;
    }
  }
}

.comment {
  &__list {
    padding-left: 0;
  }

  &__image {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: $Mercury;
    margin-top: 1rem;
    outline: none;
  }

  &__name {
    font-size: 0.87rem;
    margin-bottom: 0.7rem;
  }

  &__date {
    color: $silver;
    font-size: 0.9rem;
  }
}

.comment {
  &__imageDiv {
    display: flex;
    width: 70%;
    max-width: fit-content;
    @include desk {
      margin-right: 0.5rem;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    border-bottom: solid 0.15rem $Mercury;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__content {
    padding-left: 1rem;
    width: 85%;
  }

  &__text {
    margin-top: 0;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.4rem;
  }
  &__delete {
    background-color: $black;
    color: $white;
    height: 1.2rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: none;
    margin-bottom: 0.5rem;
    @include hover-nav;
  }
  &__like {
    border-radius: 0.3rem;
    margin: 0.5rem;
    background-color: $Mercury;
    font-weight: bold;
    color: darkred;
    @include hover-nav;
  }
}

// *****************footer********************

.footer {
  background-color: $black;
  color: $white;
  padding: 0.5rem 0 2rem 0;
  margin-left: -0.35rem;
  margin-top: 2.3rem;
  @include tablet {
    padding: 0;
    margin: 0;
  }

  &__top {
    @include tablet {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
    @include desk {
      padding-bottom: 2.25rem;
    }
  }

  &__head {
    padding-top: 2.5rem;
    font-size: 2.1rem;
    margin: 0;
    padding-bottom: 1.25rem;
    @include desk {
      position: relative;
    }
  }

  &__icon {
    @include desk {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

.footer {
  &__content {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desk {
      width: 53%;
    }
  }

  &__logo {
    display: none;
    @include tablet {
      display: unset;
      width: 35%;
      position: relative;
    }
  }

  &__brand {
    @include tablet {
      position: absolute;
      bottom: 2.5rem;
      right: 0.2rem;
    }
    @include desk {
      width: 7.5rem;
      height: 1.5rem;
    }
  }
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  padding-left: 0.4rem;

  @include tablet {
    align-items: center;
    padding-bottom: 0;
    padding-top: 1rem;
    width: 20%;
  }
  @include desk {
    width: unset;
    position: absolute;
    left: 430px;
    margin-top: 1.87rem;
  }
}

.contactinfo {
  font-size: 0.87rem;
  font-weight: normal;
  @include tablet {
    font-size: 1rem;
    width: 14rem;
  }

  &__name {
    margin-bottom: 0;
    font-size: 0.87rem;
    font-weight: 500;
    @include desk {
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 0;
    @include desk {
      margin-bottom: 1.5rem;
    }
  }

  &__address {
    font-size: 0.76rem;
    font-weight: lighter;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desk {
      margin: 0;
    }
  }

  &__email {
    font-size: 0.73rem;
    font-weight: lighter;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 00.9rem;
    }
    @include desk {
      margin-bottom: 1.5rem;
    }
  }
}

.footer__copyright {
  font-size: 0.73rem;
  font-weight: lighter;
  width: 57%;
  line-height: 1.2rem;
  @include tablet {
    font-size: 0.9rem;
    padding-bottom: 3rem;
  }
}
